{% extends 'base.djhtml' %}
{% block extrajs %}
{% endblock %}
{% block content %}
<div class="container auth">
    <h3 class="text-center white">DynamicMailer <br /><small class="white"><i>Powered by SendWithUs</i></small> </h3>
    <div id="big-form" class="well auth-box">
        <div class="hero-unit">
          <h1>Oops, something went wrong!</h1>
          <p class="white">Administrators and Developers has been notified with this error. Please try again shortly.</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}